.confirmationModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__buttons {
        display: flex;
        justify-content: space-around;
        margin: 50px 0;
        width: 50%;

        & button {
            padding: 5px 50px;

        }
    }

}