@import 'variables';

.footer {
    & div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    display: flex;
    width: 100%;
    //flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #383838;
    color: #9e9e9e;
    min-height: 110px;
    //flex: 0 0 auto;
    padding: 25px 0;

    &__inner-wrap {
        width: $page-width;
        display: flex;
        flex-direction: row;
    }

    &__section-1,
    &__section-2,
    &__section-3 {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__section-1 {
        & img {
            height: 130px;
        }
    }

    &__section-2 {
        flex: 1;
        gap: 10px;
        flex-direction: column;
    }

    &__section-3 {
        flex: 1;
    }
}

@media only screen and (max-width: $breakpointMediumScreen) {
    .footer {
        font-size: 15px;

        &__section-1 {
            img {
                height: 100px;
            }
        }
    }
}

@media only screen and (max-width: $breakpointSmallScreen) {
    .footer {
        font-size: 13px;
        padding: 5px 0;

        &__inner-wrap {
            width: 100%;
            flex-direction: column;
            align-content: space-between;
            padding: 20px 5px;
            gap: 20px;
        }
    }
}
