$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$primary-color: #db7802;
$secondary-color: #6c757d;
$page-width: 1200px;
$light-font-color: rgba(255,255,255,07);
$dark-font-color: #505050;

$white-font-color: #d6d6d6;
$light-white-font-color: #ffffffb3;

$nav-font: 'Poppins', sans-serif;
$nav-font-size-mobile: 1.6rem;
$nav-font-size: 0.9rem;
$nav-font-weight: 400;
$nav-font-color: #ffffff;

$p-font: 'Roboto', sans-serif;
$btn-font: 'Roboto', sans-serif;
$btn-font-weight: 400;

$default-color: rgba(255, 255, 255, 0.7);
$accent-color: #cda45e;

$background-color: #0c0b09;
$background-color-lighter: rgba(12, 11, 9, 0.61);

$heading-font: 'Playfair Display', sans-serif;
