 .dashboard {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-family: Arial, sans-serif;
  min-width: 80%;

  @media (max-width: 768px) {
    padding: 16px;
    min-width: unset; 
    width: 100%;
    margin: 0 auto; 
  }

  &__center {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    .mantine-Loader-root {
      width: 50px;
      height: 50px;
    }
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 16px;
    text-align: center;
  }

  &__error {
    color: red;
    font-size: 1rem;
    text-align: center;
  }

  &__status {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;

    & > .dashboard__card {
      border-radius: 8px;
      padding: 16px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.12);
      background-color: #fff;
      transition: transform 0.2s, box-shadow 0.2s;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &:hover {
        transform: translateY(-4px);
        box-shadow: 0 8px 20px rgba(0,0,0,0.15);
      }

      &-title {
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 12px;
        background: linear-gradient(90deg, #4facfe, #00f2fe);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &-item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        font-size: 1rem;

        span:first-child {
          color: #555;
        }

        span:last-child {
          font-weight: 600;
        }
      }
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &-title {
      font-size: 1.3rem;
      font-weight: 500;
      margin-bottom: 12px;
    }

    & .dashboard__table {
      width: 100%;
      border-collapse: collapse;

      th, td {
        padding: 12px;
        border-bottom: 1px solid #ddd;
        text-align: left;
      }

      th {
        background-color: #f3f3f3;
        font-weight: 600;
      }

      tr:hover {
        background-color: #f9f9f9;
      }
    }
  }

  &__charts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 32px;
    margin-top: 32px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__chart-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.12);
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    &-title {
      font-size: 1.2rem;
      font-weight: 500;
      color: #333;
      margin-bottom: 8px;
    }
    @media(max-width: 768px) {
      padding-right:0;
      padding-left:0;
    };
  }
}