@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&family=IM+Fell+French+Canon:ital@0;1&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Marck+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&family=IM+Fell+French+Canon:ital@0;1&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Marck+Script&family=Palanquin:wght@100;200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

@font-face {
    font-family: 'Cuprum';
    src: local('Cuprum'), url('../fonts/Cuprum-Regular.ttf') format('truetype');
    font-weight: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'rubik';
}

ul,
ol {
    list-style: none;
}

button {
    cursor: pointer;
}

input,
textarea {
    border: 1px solid rgb(211, 211, 211);
    padding: 20px;
    font-size: 19px;
}

input[type='radio'] {
    border: 1px solid black;
}

input[type='textarea'] {
    padding: 15px;
    resize: vertical;
}

a {
    text-decoration: none;
    color: black;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    //overflow: hidden;
}

.button-contained {
    padding: 15px 20px;
    min-width: 150px;
    border: none;
    font-family: 'Cuprum', sans-serif;
    font-weight: 100;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    border-radius: 1px;
    background-color: $primary-color;
    color: rgb(255, 255, 255);
}

.button-outlined {
    padding: 15px 30px;
    min-width: 150px;
    border: 1px solid $primary-color;
    font-family: 'Cuprum', sans-serif;
    font-weight: 100;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    border-radius: 1px;
    background-color: inherit;
    color: $primary-color;
}

.formFieldWrap {
    border: 1px solid rgb(211, 211, 211);
    padding: 20px 10px;
    cursor: pointer;

    & label {
        padding-inline-start: 15px;
    }

    &--active {
        border: 1px solid black;
    }
}
