@import 'variables';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/700.css';
@import '@fontsource/playfair-display/700.css';

@font-face {
     font-family: 'Cuprum';
     src:
          local('Cuprum'),
          url('../fonts/Cuprum-Regular.ttf') format('truetype');
     font-weight: normal;
}
html{
    scroll-behavior: smooth; 
}

/* RESET CSS */
*,
*::before,
*::after {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
     font-family: $heading-font;
}

p {
     font-family: $p-font;
}

button {
     font-family: $p-font;
     font-weight: $btn-font-weight;
}

a {
     text-decoration: none;
     color: white;
}

body {
    // color: $white-font-color;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}

button {
     background: none;
     cursor: pointer;
}

ul,
ol {
     list-style: none;
}

//-----------------------------------------

input,
textarea {
     border: 1px solid rgb(211, 211, 211);
     padding: 20px;
}

input[type='radio'] {
     border: 1px solid black;
}

input[type='textarea'] {
     padding: 15px;
     resize: vertical;
}

.App {
     display: flex;
     flex-direction: column;
     align-items: center;
     min-height: 100dvh;
     min-height: 100vh;
}

.container {
     display: flex;
     flex-direction: column;
     gap: 60px;
     width: 100%;
     padding: 0 15px;
     margin-left: auto;
     margin-right: auto;
     overflow: hidden;
}

section {
     scroll-margin-top: 60px;
     padding: 50px 0 !important;
};

@media (min-width: $sm) {
     .container {
          max-width: 540px;
     }
}

@media (min-width: $md) {
     .container {
          max-width: 720px;
     }
}

@media (min-width: $lg) {
     .container {
          max-width: 960px;
     }
}

@media (min-width: $xl) {
     .container {
          max-width: 1140px;
     }
}

@media (min-width: $xxl) {
     .container {
          max-width: 1320px;
     }
}

.font-italic-style {
     font-family: 'Roboto', sans-serif;
     font-weight: 100;
     font-style: italic;
     font-size: 1rem;
     color: rgb(107, 107, 107) !important;
}

.button-contained {
     padding: 15px 20px;
     min-width: 150px;
     border: none;
     font-family: 'Cuprum', sans-serif;
     font-weight: 100;
     font-style: normal;
     font-weight: 500;
     border-radius: 1px;
     background-color: $primary-color;
     color: rgb(255, 255, 255);
}

.button-outlined {
     padding: 15px 30px;
     min-width: 150px;
     border: 1px solid $primary-color;
     font-family: 'Cuprum', sans-serif;
     font-weight: 100;
     font-style: normal;
     font-weight: 500;
     border-radius: 1px;
     background-color: inherit;
     color: $primary-color;
}

.btn-accent-primary {
     display: flex;
     align-items: center;
     justify-content: center;
     color: rgba(255, 255, 255, 0.7);
     text-transform: uppercase;
     font-size: 0.9rem;
     height: 37px;
     border: 1px solid $accent-color;
     border-radius: 50px;
     transition: all 0.4s;
     padding: 6px 24px;
     backdrop-filter: blur(2px);

     &:hover {
          background-color: $accent-color;
          color: #fff;
     }
}

.btn-accent-secondary {
     display: flex;
     align-items: center;
     justify-content: center;
     color: rgba(255, 255, 255, 0.7);
     text-transform: uppercase;
     font-size: 0.9rem;
     height: 37px;
     border: 1px solid $accent-color;
     background-color: $accent-color;
     border-radius: 50px;
     transition: all 0.4s;
     padding: 6px 24px;

     &:hover {
          background-color: $accent-color;
          color: #fff;
          background-color: #bdae93;
     }
}

h1 {
     letter-spacing: -0.05em;
     font-size: clamp(2.4rem, 5vw, 4.8rem);
}

h2 {
     letter-spacing: -0.02em;
     font-size: clamp(2rem, 5vw, 3.6rem);
}

h3 {
     letter-spacing: 0;
     font-size: clamp(1.6rem, 5vw, 2.4rem);
}

h4 {
     letter-spacing: 0.02em;
     font-size: clamp(1.4rem, 5vw, 2rem);
}

h5 {
     letter-spacing: 0.02em;
     font-size: clamp(1.2rem, 5vw, 1.8rem);
}

p {
     letter-spacing: 0;
     font-size: clamp(1.125rem, 0.8571rem + 0.8571vw, 1.5rem);
}

a {
     letter-spacing: 0.05em;
     //font-size: clamp(1rem, 0.875rem + 0.5vw, 1.25rem);
}