.cartItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    color: rgb(73, 73, 73);
    height: 100%;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f7f7f7;
        height: 90px;
        padding: 30px;


        &__center {
            text-decoration: underline;
            cursor: pointer;
            text-underline-offset: 4px;
            transition: color 0.3s ease;

            &:hover {
                color: rgb(180, 180, 180);
            }
        }

        &__right {
            font-size: 20px;
            cursor: pointer;
            padding: 10px;
            transition: color 0.3s ease;

            &:hover {
                color: rgb(180, 180, 180);
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding: 30px;
        gap: 50px;

        &__item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 20px;

            &__img {
                min-width: 80px;
                width: 80px;
                height: 80px;
                overflow: hidden;

                & img {
                    height: 110%;
                    width: 110%;
                    object-fit: cover;
                }
            }

            &__desc {
                display: flex;
                flex-direction: column;
                justify-self: flex-start;


                &__name {
                    font-weight: 600;
                    font-size: 18px;
                }

                &__details {
                    color: #b3b3b3;
                }
            }

            &__subtotal {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;
                user-select: none;
                margin-left: auto;

                &__price {
                    font-weight: 600;
                    font-size: 18px;
                }

                &__stepper {
                    display: flex;
                    align-items: center;
                    gap: 12px;

                    &__minus,
                    &__plus {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid rgb(207, 207, 207);
                        padding: 5px;
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        font-size: 25px;
                        background-color: #f7f7f7;
                        cursor: pointer;
                        transition: background 0.3s ease;

                        &:hover {
                            background: #eeeeee;
                        }
                    }
                }
            }

            &__remove {
                & span {
                    color: rgb(129, 129, 129);
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                        color: rgb(73, 73, 73);
                    }
                }
            }

            &__basketIsEmpty {
                display: flex;
                justify-content: center;
            }
        }
    }

    &__footer {
        margin-top: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
        padding: 30px;

        & button {
            flex: 1;
            min-width: 45%;
        }
    }
}