.checkout {
     display: flex;
     justify-content: center;
     width: 100%;

     &__form {
          display: flex;
          flex-direction: column;
          max-width: 700px;
          gap: 25px;
          padding: 30px;
          width: 100%;
     }

     &__form__field {
          display: flex;
          flex-direction: column;
          gap: 5px;

          input,
          textarea {
               padding: 10px;
               font-size: 16px;
               border: 1px solid #ccc;
               border-radius: 4px;
          }
     }

     &__form__note,
     &__form__total,
     &__form__submit {
          display: flex;
          flex-direction: column;
     }

     &__form__total {
          font-size: 1.2rem;
          font-weight: 600;
     }
}

.formFieldWrap {
     display: flex;
     align-items: center;
     gap: 10px;
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 5px;
     cursor: pointer;

     input[type='radio'] {
          accent-color: #cda45e;
     }

     input[type='time'] {
          margin-left: 10px;
          padding: 5px;
     }
}

.error-message {
     background-color: rgb(248, 152, 152);
     color: white;
     padding: 10px;
     border-radius: 5px;
     font-size: 0.9rem;
}

.error {
     color: red;
     font-size: 0.8rem;
}
