.checkout {
     display: flex;
     justify-content: center;
     width: 100%;

     & .mantine-Radio-body {
          align-items: center;
     }

     &__top-bar {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: #1a1a1ab3;
           font-size: 16px;
          font-weight: bold;
     }

     &__user-name {
          color: #1a1a1ab3;
          text-align: end;
          font-size: 16px;

     }

     &__back-link {
          display: flex;
          align-items: center;
          cursor: pointer;
          text-decoration: none;

          &:hover {
               text-decoration: underline;
          }
     }

     &__title {
          color: #1a1a1ae6
     }

     &__form {
          display: flex;
          flex-direction: column;
          max-width: 700px;
          gap: 25px;
          padding: 30px;
          width: 100%;
     }

     &__user-details,
     &__delivery-address {
          display: flex;
          flex-direction: column;
          gap: 20px;
     }

     &__radio-group {
          display: flex;
          flex-direction: column;
          gap: 10px;
     }

     &__radio-item {
          display: flex;
          align-items: center;
          gap: 10px;

          label {
               display: flex;
               align-items: center;
               gap: 5px;
          }

          input[type='radio'] {
               accent-color: #cda45e;
          }
     }

     &__order-time {
          input[type='time'] {
               width: 100px;
               padding: 7px;
               border-radius: 4px;
               border: 1px solid #ccc;
          }
     }

     &__note {
          textarea {
               padding: 10px;
               font-size: 16px;
               border: 1px solid #ccc;
               border-radius: 4px;
          }
     }

     &__total {
          display: flex;
          justify-content: space-between;
          font-size: 1.2rem;
          font-weight: 600;
          color: #1a1a1ae6;
     }

     &__actions {
          display: flex;
          flex-direction: column;
          gap: 15px;

          .mantine-Button-root {
               width: 100%;
          }
     }

     .mantine-TextInput-input {
          padding: 22px;
          border-radius: 6px;
     }

     .mantine-InputWrapper-label {
          color: #1a1a1ab3;
     }
}