.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #6b6b6b;
  margin: auto;

  &__header {
    text-align: center;
    font-size: 12px;
  }

  &__btn {
    width: 215px;
    margin-top: 10px;
    align-self: center;
    background-color: transparent;
  }

  &__btn:hover {
    background-color: #0056b3;
  }

  &__btn:disabled {
    background-color: #b0b0b0;
    cursor: not-allowed;
  }

  &__title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__subtitle {
    font-size: 16px;
    margin-bottom: 5px;
  }

  &__text {
    font-size: 12px;
    margin-bottom: 5px;
  }
}