@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&family=IM+Fell+French+Canon:ital@0;1&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Marck+Script&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

.home-page {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    &__section-1 {
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100%;
        width: 100vw;
        color: white;
        z-index: 2;
        overflow: hidden;

        &::after {
            z-index: -1;
            content: '';
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            background: url("../img/section-1.jpg") no-repeat center;
            background-size: cover;
            filter: brightness(0.6) blur(1px);

        }

        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: "Marck Script", cursive;
            font-weight: 400;
            font-style: normal;
            font-size: 44px;
            gap: 15px;

            & img {
                max-width: 100%;
                height: auto;
                filter: contrast(1.5);
                filter: blur(0.5px);
                margin-bottom: 10px;
            }

            &__buttons-wrap {
                display: flex;
                margin-top: 40px;
                gap: 30px;


                & button {
                    padding-left: 30px;
                    padding-right: 30px;
                    font-weight: 700;
                }
            }


            &__button-menu {
                position: relative;

                z-index: 1;

                &::after {
                    content: '';
                    position: absolute;
                    background-color: rgb(0 0 0 / 0%);
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                }
            }
        }


    }
}


@media only screen and (max-width: $breakpointSmallScreen) {
    .home-page {
        &__section-1 {
            &__content {
                margin-top: 40px;
                font-size: 30px;
                margin-bottom: 150px;
                gap: 0;

                & img {
                    height: 250px;
                }

                &__buttons-wrap {
                    flex-direction: column;
                    gap: 20px;
                }
            }
        }
    }
}