@keyframes slideDown {
    from {
        top: 40%;
        opacity: 0;
    }

    to {
        top: 50%;
        opacity: 1;
    }
}

@keyframes fadeInBGcolor {
    from {
        background-color: rgba(0, 0, 0, 0);
        /* Kolor tła w pełni przezroczysty */
    }

    to {
        background-color: rgba(0, 0, 0, 0.73);
        /* Kolor tła z 73% przezroczystości */
    }
}

.customModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0 0 0 / 73%); //background-color: #000000d4;
    z-index: 20;
    animation: fadeInBGcolor 0.5s;
    user-select: none;

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 7px;
        ;
        max-width: 80vw;
        min-width: 650px;
        min-height: 30vh;
        padding: 15px;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: slideDown 0.5s;
    }
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}