@keyframes slideDown {
     from {
          transform: rotateY(90deg);
          opacity: 0;
     }

     to {
          transform: rotateY(0deg);
          opacity: 1;
     }
}

@keyframes fadeInBGcolor {
     from {
          background-color: rgba(0, 0, 0, 0);
     }

     to {
          background-color: rgba(0, 0, 0, 0.73);
     }
}

.custom-modal {
     &__overlay {
          position: fixed;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100vh;
          background-color: rgb(0 0 0 / 73%);
          z-index: 20;
          animation: fadeInBGcolor 0.3s;
          user-select: none;
          display: flex;
          justify-content: center;
          align-items: center;
          backdrop-filter: blur(3px)
     }

     &__main {
          position: absolute;
          z-index: 999;
          display: flex;
          flex: 0 1 650px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 7px;
          background-color: white;
          animation: slideDown ease-out .3s;
          padding: 40px 30px;
     }
}

.display-none {
     display: none;
}

.display-block {
     display: block;
}
