@import 'variables';

.navi {
     position: fixed;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     background-color: #141414;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     opacity: 0.9;
     transition:
          transform 0.4s ease,
          opacity 0.4s ease;
     z-index: 998;

     &--hidden {
          transform: translateX(-100%);
          opacity: 0;
     }

     &__list {
          display: flex;
          flex-direction: column;
          gap: 50px;
          align-items: center;
          list-style: none;
          padding: 0;
          margin: 0;
     }

     &__link {
          padding: 18px 15px;
          font-family: $nav-font;
          font-weight: $nav-font-weight;
          color: $nav-font-color;
          font-size: $nav-font-size-mobile;
          text-decoration: none;
          transition: color 0.3s;
          &:hover {
               color: $accent-color;
          }
     }

     &__close-button {
          position: absolute;
          top: 25px;
          right: 30px;
          font-size: 1.5rem;
          color: $nav-font-color;
          cursor: pointer;
     }
}

@media (min-width: $xl) {
     .navi {
          position: static;
          width: auto;
          height: auto;
          background-color: transparent;
          flex-direction: row;
          opacity: 1;
          transform: none;
          justify-content: center;

          &__link {
               font-size: $nav-font-size;
          }
     }

     .navi__list {
          flex-direction: row;
          gap: inherit;
     }

     .navi__close-button {
          display: none;
     }
}
