@import 'variables';

.navi {
    display: flex;
    flex-direction: row;
    justify-content: center;

    & ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        min-width: 350px;

        & li {
            padding: 3px 10px;
            cursor: pointer;
            transition: color 0.15s;
            min-width: 100px;
            color: #5c5c5c;

            &:hover {
                color: $primary-color;
            }
        }
    }

    & a {
        text-decoration: none;
    }

    &__close-button {
        display: none;
        cursor: pointer;
        transform: scaleY(0.9);
    }

}

@media only screen and (max-width: $breakpointLargeScreen) {
    .header {
        &__order_now {
            & button {
                min-width: 100px;
                padding: 5px;
            }
        }
    }
}

@media only screen and (max-width: $breakpointMediumScreen) {
    .navi {
        width: 0%;
        opacity: 0;
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: #141414;
        height: 100vh;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition: width 0.4s ease, opacity 0.4s ease;
        z-index: 998;

        &__show {
            width: 100vw;
            opacity: 0.92;
        }

        &__close-button {
            display: block;
            color: $primary-color;
            position: absolute;
            top: 8%;
            right: 0px;
            font-size: 40px !important;
            min-width: 80px !important;
        }

        & ul {
            position: relative;
            top: -20px;
            display: flex;
            flex-direction: column;
            align-items: start;
            min-width: 50px;

            & li {
                padding: 20px 0px;
                font-size: 18px;
                max-width: 70px;


            }
        }
    }
}

@media only screen and (max-width: $breakpointSmallScreen) {
    .navi {
        & ul {
            top: -50px;
            ;

            & li {
                font-size: 20px;
            }
        }

        &__close-button {
            font-size: 35px !important;
        }
    }

}