.product {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: white;
    min-height: 70vh;
    z-index: 12;

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: 0.8;
        }
    }

    & form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
    }

    & div {
        height: 50px;
        ;
    }

    &__img {
        width: 350px;
        height: 100px;
        object-fit: cover;
        object-position: center center;
        filter: contrast(50%);
        flex: 5;
    }


    &__name {
        //flex: 2;
    }

    &__desc {
        //flex: 2;
    }

    &__quantity {
        display: flex;
        gap: 10px;

        & span {
            padding: 7px;
            font-size: 20px;
            cursor: pointer;
        }

        &__minus {}

        &__number {}

        &__plus {}
    }

    &__buttons {
        display: flex;
        gap: 10px;
        user-select: none;

        &__back {
            padding: 14px 25px;
            border: 0;
            //width: 150px;
            background-color: white;
            border: solid 1px silver;
            transition: background-color 0.3s ease;
            align-self: flex-end;

            &:hover {
                background-color: #d7d7d7;
            }
        }

        &__submit {
            padding: 14px 25px;
            border: 0;
            width: 250px;
            background-color: #e9e9e9;
            transition: background-color 0.3s ease;
            align-self: flex-end;

            &:hover {
                background-color: #d7d7d7;
            }
        }

    }



}