.single-dish {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 150px;
    min-height: 270px;
    margin: 10px;
    border-radius: 10px;
    z-index: 1;
    border: 1px solid #dfdfdf;
    cursor: pointer;
    transition: filter 0.4s ease;

    &:hover {
        filter: opacity(0.7);
    }

    &__quantity {
        position: absolute;
        top: -12px;
        right: -10px;
        background-color: rgb(206, 141, 2);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 21px;
        z-index: 2;
    }

    &__descWrap {
        display: flex;
        flex-direction: column;
        gap: 7px;
        padding: 10px;
    }

    &__img {
        height: 70%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        overflow: hidden;
        transition: transform 0.4s ease;

        &:hover {
            transform: scale(1.02, 1.02)
        }
    }

    &__title {
        font-size: 13px;
        font-weight: 500;
    }

    &__desc {
        font-size: 12px;
    }

    &__timeAndRatingWrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 17px;
    }

    &__timeWrap {
        display: flex;
        flex-direction: row;
        color: #609b98;
        font-size: 20px;
        line-height: 1.4;
    }

    &__ratingIco {
        font-size: 20px;
    }

    &__timeIco {
        font-size: 20px;
    }

    &__ratingWrap {
        display: flex;
        flex-direction: row;
        color: rgb(211, 133, 133);
        line-height: 1.5;
    }

    &__time {
        font-size: 14px;
        padding: 0 3px;
        ;
    }

    &__rating {
        font-size: 14px;
        padding: 0 3px;
    }

    &__price {
        font-size: 15px;
        font-weight: 500;
    }



    &__desc {}
}