@import "variables.scss";

.table-booking-form {
    &__wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    &__group {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }

    &__field {
        color: #e4e4e4;
        //border: 1px solid #3a3a3a;
        background-color: transparent;
        flex: 1 1 30%;
        min-width: 296px;
        transition: all 0.15s ease-in;
        font-size: 1rem;

        &::-webkit-calendar-picker-indicator {
            width: 20px;
            height: 20px;
            filter: brightness(0.5) invert(1);
            cursor: pointer;
        }

        &::placeholder {
            color: #6b6b6b;
        }

        &:focus {
            outline: none;
            border-color: $accent-color;
        }
    }

    &__btn {
        width: 190px;
        margin-top: 10px;
        align-self: center;
        background-color: transparent;
    }

    &__modal-wrap {
        padding: 30px;
        display: flex;
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: black;
        font-size: 0.8rem;
    }

    &__modal-button {
        color: black;
    }

    &__modal-details {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
        color: black;
    }

    &__modal-button {
        padding: 12px 40px;
    }
}


.table-booking-form__wrap {
    & .mantine-Input-input {
        border-radius: 0;
    }
}