.login-customer {
     width: 100%;
     height: 100vh;
     display: flex;
     gap: 15px;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background-color: #f0f4f8;
     font-family: Arial, sans-serif;
     color: #333;

     &__title {
          font-size: 2rem;
          margin-bottom: 1rem;
          color: #333;
     }

     &__form {
          display: flex;
          flex-direction: column;
          align-items: stretch;
          gap: 10px;
          background: #fff;
          padding: 2rem;
          border-radius: 8px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          width: 100%;
          max-width: 400px;
          text-align: left;
     }

     &__input-group {
          display: flex;
          flex-direction: column;
          margin-bottom: 1.25rem;
     }

     &__label {
          margin-bottom: 0.5rem;
          font-weight: bold;
     }

     &__input {
          padding: 0.75rem;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 1rem;
          transition: border-color 0.2s;

          &--error {
                background-color: #ffe6e6;;
               border-color: red;
          }


          &:focus {
               border-color: #007bff;
               outline: none;
          }
     }

     &__button {
          width: 100%;
          padding: 0.75rem;
          background-color: #007bff;
          color: white;
          border: none;
          border-radius: 4px;
          font-size: 1rem;
          cursor: pointer;
          transition: background-color 0.2s;

          &:disabled {
               background-color: #5a9de2;
          }

          &:hover:not(:disabled) {
               background-color: #0056b3;
          }

          &--loading {
               background-color: #5a9de2;
               cursor: wait;
          }
     }

     &__alt-login {
          margin-top: 1rem;
          text-align: center;
     }

     &__social-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
          width: 100%;
          padding: 0.75rem;
          border: none;
          border-radius: 4px;
          font-size: 1rem;
          cursor: pointer;
          margin-top: 0.5rem;
          transition: background-color 0.2s;

          &--google {
               background-color: #db4437;
               color: white;

               &:hover {
                    background-color: #c33224;
               }
          }

          &--facebook {
               background-color: #4267b2;
               color: white;

               &:hover {
                    background-color: #365899;
               }
          }
     }

     &__icon {
          width: 20px;
          height: 20px;
          display: inline-block;
          background-size: contain;
          background-repeat: no-repeat;

          &--google {
               background-image: url('../img/g.png');
          }

          &--facebook {
               background-image: url('../img/f.png');
          }
     }

     &__link {
          display: block;
          margin-top: 1rem;
          text-align: center;
          color: black;
          text-decoration: underline;
     }

     &.mantine-Button-inner{
          height: inherit;
     }

}