.confirmation-modal {
     display: flex;
     flex-direction: column;
     gap: 10px;
     padding: 30px;
     align-items: center;
     justify-content: center;
     max-width: 95vw;

     &__header {
          font-size: 20px;
          text-align: center;;
     }

     &__buttons {
          display: flex;
          justify-content: space-around;
          margin: 20px 0;
          gap: 20px;

           & button {
               padding: 5px 50px;
               border-radius: 4px;
          }
     }

     @media(max-width: 768px) {
          gap: 15px;
          &__header {
               font-size: 15px;
          }

          &__buttons {
               margin: 10px 0;
          }
     }
}