name: Deploy React Build to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Node and Build
        run: |
          npm ci
          CI=false npm run build

      - name: Set up SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.VPS_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -p 2222 87.102.119.70 >> ~/.ssh/known_hosts

      - name: Sync build to VPS
        run: |
          rsync -avz --delete -e "ssh -p 2222 -i ~/.ssh/id_rsa" ./build/ rafal@188.68.242.226:/var/www/restaurant.rafalsprengel.com/react/build/
